*
{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: Roboto;
    color: #fff;
}

.roboto-black 
{
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
}

body
{
    background-color: black;
    min-height: 100vh;
}

.vrh
{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.logo
{
    margin-top: 15px;
    margin-left: 50px;
}

.logo img
{
    width: 200px;
}

nav {
    margin-top: 30px;
    margin-right: 100px;
}

nav a {
    margin-right: 50px;
    color: #fff;
    font-size: 22px;
    font-weight: bolder;
    position: relative;
}

nav a::after {
    content: '';
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 3px;
    background-color: rgb(231, 55, 55);
    transition: left 0.3s ease, 0.3s ease;
}

nav a:hover::after {
    left: 0;
    width: 100%;
}

.bar 
{
    display: none;
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 5px 0;
    transition: 0.4s;
}

.tel
{
    display: none;
}

.headerimage img
{
    position: relative;
    width: 300px;
    z-index: -1;
    bottom: 0;
    left: 0;
}

.headertext
{
    position: absolute;
    color: #fff;
    font-size: 30px;
    bottom: 180px;
    right: 0;
    margin-right: 300px;
}

.headertext h1 span
{
    color: rgb(231, 55, 55);
}

.headertext h2
{
    color: #c4c4c4;
    font-size: 40px;
    margin-bottom: 15px;
}

.krog
{
    width:60px;
    height:60px;
    border-radius:60px;
    border: solid 2px white;
    position: absolute;
    bottom: 0;
    left: 300px;
    margin-bottom: -100px;
    transition: transform 0.5s ease;
}

.krog:hover
{
    transform: scale(1.07);
}

.headertext
{
    animation: povecajVrni 7s infinite;
    animation-delay: 5s;
    z-index: 2;
}

.arrow-down {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 15px solid rgb(255, 255, 255);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@keyframes povecajVrni 
{
    0% 
    {
        transform: translateY(0);
    }
    50% 
    {
        transform: translateY(20px);
    }
    100% 
    {
        transform: translateY(0);
    }
}

header .headertext h2, header .headertext h1 
{
    opacity: 0;
    transform: translateX(-100%);
    animation: prikaziBesedilo 5s ease forwards;
}

@keyframes prikaziBesedilo 
{
    0% 
    {
        opacity: 0;
        transform: translateX(-100%);
    }
    100% 
    {
        opacity: 1;
        transform: translateX(0);
    }
}

@media only screen and (max-width: 768px)
{

    .rac{
        display: none;
    }

    .bar
    {
        display: block;
    }

    .telmenu
    {
        display: block;
        cursor: pointer;
        position: relative;
        bottom: 4px;
        left: 60px;
    }

    .tel.active
    {
        display: block;
        margin-left: 30px;
        margin-top: 30px;
    }

    .telmenu.active
    {
        margin-top: 55px;
        margin-bottom: 80px;
        margin-left: -5px;
    }

    .tel a
    {
        display: block;
        margin-bottom: 40px;
    }

    .telmenu.active .bar:nth-child(1) {
        transform: rotate(-45deg) translate(-5px, 6px);
    }
    
    .telmenu.active .bar:nth-child(2) {
        opacity: 0;
    }
    
    .telmenu.active .bar:nth-child(3) {
        transform: rotate(45deg) translate(-5px, -6px);
    }

    .headertext h2
    {
        font-size: 22px;
    }

    .headertext h1
    {
        font-size: 32px;
    }

    header 
    {
        display: flex;
        flex-wrap: wrap;
    }
    
    .headerimage 
    {
        flex: 0 0 auto;
        max-width: 50%;
        max-height: 100vh;
    }
    
    .headertext 
    {
        margin-right: -30px;
        margin-bottom: 60px;
        flex: 1 1 auto;
        max-width: 70%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .krog
    {
        top: 280px;
        left: 140px;
    }
    
    nav.active
    {
        background-color: rgb(231, 55, 55);
        position: fixed;
        top: 0;
        right: 0;
        width: 150px;
        height: 100vh;
        margin: 0;
        z-index: 3;
        padding: 0;
    }

    .logo img
    {
        width: 170px;
    }

}

#omeni
{
    margin-top: 90vh;
    height: 600px;
    background-color: black;
    display: flex;
    flex-direction: row;
}
    

.omeniimage img
{
    width: 300px;
    margin-left: 150px;
    margin-top: 50px;
}

.omenitext 
{
    margin-top: 60px;
    margin-left: 100px;
    width: 50%;
}

.omenitext h1
{
    font-size: 50px;
    margin-bottom: 10px;
}

.omenitext p
{
    font-size: 16px;
    color: #c4c4c4;
}

.omenisez
{
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 18px;
    font-weight: bolder;
}

.omenisez a
{
    margin-right: 30px;
}

.omenitext .sez h4
{
    margin-bottom: 5px;
    color: rgb(231, 55, 55);
}

.omenitext .sez p
{
    margin-bottom: 10px;
}

.omenisez, .omenisez a
{
    position: relative;
}

.omenisez a::after 
{
    content: '';
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: rgb(231, 55, 55);
    transition: left 0.3s ease, 0.3s ease;
}

.omenisez a:hover::after 
{
    left: 0;
    width: 100%;
}

.sez
{
    display: none;
}
